services:
  nginx:
    build: .
    container_name: army-yorozuya-nginx
    ports:
      - "80:80"    # HTTP端口
      - "443:443"  # HTTPS端口
    volumes:
      # 如果需要自定义SSL证书，可以挂载证书目录
      # - ./ssl:/etc/nginx/ssl
      # 如果需要自定义nginx配置，可以挂载配置文件
      # - ./nginx.conf:/etc/nginx/nginx.conf:ro
      []
    networks:
      - army-yorozuya-network
    restart: unless-stopped
    extra_hosts:
      # 在Linux上使用host.docker.internal访问宿主机
      - "host.docker.internal:host-gateway"

networks:
  army-yorozuya-network:
    driver: bridge